{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card text-center text-white bg-dark mb-3">
                <div class="card-body justify-content-center mt-3">
                    <form class="" action="/addmoney" method="post">
                        <div class="row justify-content-center">
                            <div class="form-group text-center col-auto">
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input autocomplete="off" class="form-control mx-auto" type="number" name="income" id="money" placeholder="Enter income amount"> 
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-secondary" type="submit" name="action" value="income">Add income</button>
                            </div>
                            <div class="form-group text-center col-auto">
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input autocomplete="off" class="form-control mx-auto" type="number" name="expense" id="money" placeholder="Enter expense amount"> 
                                </div>
                            </div>
                            <div class="form-group text-center col-auto">
                                <button class="btn btn-secondary" type="submit" name="action" value="expense">Add expense</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered mt-3">
    <thead class="table-dark text-center">
        <th>Date added</th>
            <th>Amount</th>
            <th>Date Due</th>
            <th>Due Amount</th>
            <th>Modify</th>
        </thead>
        <tbody class="table-info">
            {% for income in incomes %}
            {% if income.paid == False %}
            <tr>
                <td>{{ income.date }}</td>
                <td>{{ income.amount | usd}}</td>
                <td>{{ income.due_date }}</td>
                <td>{{ income.due_amount | usd}}</td>    
                <td>
                    <form action="/delete_entry", method="post">
                        <input type="hidden" name="income_id" class="hidden-field" value='{{ income.id }}'>
                        <button type="submit" class="btn btn-danger">Delete entry</button>
                    </form>
                    <form action="/paid", method="post">
                        <input type="hidden" name="income_id" class="hidden-field" value='{{ income.id }}'>
                        {% set current_time = datetime.now() %}
                        {% if current_time < income.due_date %}
                        <button type="submit" class="btn btn-success">Paid</button>
                        {% endif %}
                    </form>
                </td>
            </tr> 
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}