{% extends 'layout.html' %}

{% block title %}Zakat Due{% endblock %}

{% block content %}

{% if incomes %}

<div class="table-responsive">
    <table class="table table-bordered mt-3">
        <h1 class="mt-3 text-center"> Zakat Due </h1>
            <thead class="table-dark text-center">
                <th>Date added</th>
                <th>Amount</th>
                <th>Date Due</th>
                <th>Due Amount</th>
                <th>Modify</th>
            </thead>
            <tbody class="table-info">
                {% for income in incomes %}
                <tr>
                    <td>{{ income.date }}</td>
                    <td>{{ income.amount | usd}}</td>
                    <td>{{ income.due_date }}</td>
                    <td>{{ income.due_amount | usd}}</td>    
                    <td>
                        <form action="/paid", method="post">
                            <input type="hidden" name="income_id" class="hidden-field" value='{{ income.id }}'>
                            <button type="submit" class="btn btn-success">Paid</button>
                        </form>
                    </td>
                </tr> 
                {% endfor %}
            </tbody>
    </table>
</div>

{% else %}

You have no zakat due currently!

{% endif %}

{% endblock %}


