{% extends 'layout.html' %}

{% block title %}Fatwa{% endblock %}

{% block content %}

    
        <h1 class="text-center mb-5">Fatwa</h1>
        <h2>Zakaah on an Employee’s Salary – Shaykh ‘Abd al-‘Azeez ibn Baaz</h2>
        <p class="pt-3 fs-4">
            Shaykh ‘Abd al-‘Azeez ibn Baaz (may Allaah have mercy on him) was asked:
        </p>
        <p class="fs-4" >
            There is a man who depends on his monthly salary; he spends some and saves the rest. How should he pay zakaah on this money?
        </p>
        <p class="fs-4" >
            He replied:
        </p>
        <figure class="text-right">
            <blockquote class="blockquote">
              <p>"He should write down what he saves of his salary, and pay zakaah on it when one year has passed. Zakaah should be paid on the savings 
                of each month when one year has passed. If he pays zakaah on the total in the first month, there is nothing wrong with that and he will 
                be rewarded for that, and it will be regarded as zakaah paid in advance for the savings for which one year has not yet passed. There is 
                no reason why a person should not pay zakaah in advance if he sees some benefit in doing so. But delaying it after the year has passed is 
                not permissible, unless there is a valid shar’i excuse, such as the wealth not being available or there being no poor people."</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Tuhfat al-Ikhwaan bi Ajwabah Muhimmah tata’allaq bi Arkaan al-Islam (question no. 12)
            </figcaption>
        </figure>
        <p class="fs-4" >
            Here is an Answer from Fataawa al-Lajnah al-Daa’imah :
        </p>
        <figure class="text-right">
            <blockquote class="blockquote">
                <p>
                    "If he insists on having all his rights and on not giving any charity to those who deserve it apart from what he is obliged to give, then he 
                    should make a schedule of his earnings and write down every amount and the date on which he took possession of it. Then he should pay zakaah 
                    for each amount separately when one year has passed from the date on which he took possession of it.
                </p>  
                <p>  
                    But if he wants an easier method, and wants to be more generous and give precedence to the poor and others who are entitled to zakaah over 
                    himself, then he can pay zakaah on all the money he possesses when one year has passed from the date when his wealth first reached the nisaab. 
                    This will bring a greater reward and raise him higher in status; it is easier for him and is more generous towards the poor and needy and 
                    others who are entitled to zakaah. Whatever extra amount he may pay will be regarded as a “down payment” on the zakaah for any wealth for 
                    which one year has not yet passed."
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                (From Fataawa al-Lajnah al-Daa’imah, 9/280)
            </figcaption>
        </figure>
    </div>  

{% endblock %}