{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="fs-4 mt-3">
    <p class="lead">
        RATIB is designed to help users easily and accurately calculate and keep track of zakat payments on their salary,
        based on Shaykh Ibn Baz's fatwa on how to calculate zakat on monthly salaries. Please refer to the fatwa below for details.
    </p>
    <p>
        To get started, users must first set a <a href="/nisab">nisab</a> amount. Users can change this amount in the future if required, and previous savings
        will reflect the new nisab.
    </p>
    <p>
        The <a href="/dashboard">dashboard</a> tab allows users to add savings, which are automatically calculated and displayed in a table on the same page. 
        Users can modify the date and initial amount of any income entry, and delete entries as needed. All changes made to the savings table are accurately 
        reflected.
    </p>
    <p>
        When a user inputs a zakat amount, RATIB tracks the amount based on whether it reaches the nisab or not. If the amount reaches the nisab, it is tracked 
        for the following hijri year and displayed in the <a href="/due">Zakat Due</a> table when the payment becomes due. Users can then declare the amount as 
        paid, and it will be recorded as paid and displayed on the <a href="/history">history</a> tab. 
    </p>
    <p>
        Any changes made to the savings table - whether by addition, deletion, or modification - are made in relation to the nisab threshold. If the 
        previous savings were below the nisab amount and then any change causes the nisab amount to be crossed, the savings will begin being tracked from 
        the date on which the nisab was crossed, and all subsequent entries will be tracked from their respective entry dates for one hijri year. Alternatively, 
        if the previous total savings already crossed the nisab and then any change causes the total savings to dip below the nisab amount, the zakat tracking 
        will stop. Users can still view entries on the table, but they will be untracked. Changes made to the untracked table will follow the same principle of 
        accounting for the nisab as stated earlier.
    </p>
</div>

    <h1 class="my-5">Fatwa</h1>
        <h2>Zakaah on an Employee’s Salary – Shaykh ‘Abd al-‘Azeez ibn Baaz</h2>
        <p class="pt-3 fs-4">
            Shaykh ‘Abd al-‘Azeez ibn Baaz (may Allaah have mercy on him) was asked:
        </p>
        <p class="fs-4" >
            There is a man who depends on his monthly salary; he spends some and saves the rest. How should he pay zakaah on this money?
        </p>
        <p class="fs-4" >
            He replied:
        </p>
        <figure class="text-right">
            <blockquote class="blockquote">
              <p>"He should write down what he saves of his salary, and pay zakaah on it when one year has passed. Zakaah should be paid on the savings 
                of each month when one year has passed. If he pays zakaah on the total in the first month, there is nothing wrong with that and he will 
                be rewarded for that, and it will be regarded as zakaah paid in advance for the savings for which one year has not yet passed. There is 
                no reason why a person should not pay zakaah in advance if he sees some benefit in doing so. But delaying it after the year has passed is 
                not permissible, unless there is a valid shar’i excuse, such as the wealth not being available or there being no poor people."</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Tuhfat al-Ikhwaan bi Ajwabah Muhimmah tata’allaq bi Arkaan al-Islam (question no. 12)
            </figcaption>
        </figure>
        <p class="fs-4" >
            Here is an Answer from Fataawa al-Lajnah al-Daa’imah :
        </p>
        <figure class="text-right">
            <blockquote class="blockquote">
                <p>
                    "If he insists on having all his rights and on not giving any charity to those who deserve it apart from what he is obliged to give, then he 
                    should make a schedule of his earnings and write down every amount and the date on which he took possession of it. Then he should pay zakaah 
                    for each amount separately when one year has passed from the date on which he took possession of it.
                </p>  
                <p>  
                    But if he wants an easier method, and wants to be more generous and give precedence to the poor and others who are entitled to zakaah over 
                    himself, then he can pay zakaah on all the money he possesses when one year has passed from the date when his wealth first reached the nisaab. 
                    This will bring a greater reward and raise him higher in status; it is easier for him and is more generous towards the poor and needy and 
                    others who are entitled to zakaah. Whatever extra amount he may pay will be regarded as a “down payment” on the zakaah for any wealth for 
                    which one year has not yet passed."
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                (From Fataawa al-Lajnah al-Daa’imah, 9/280)
            </figcaption>
        </figure>
        <p class="fs-4">
            Additional reference:
        </p>
        <p class="fs-4">
            <ul>
                <li>
                    <a href="https://islamqa.info/en/answers/50801/how-should-he-pay-zakaah-on-savings-that-are-not-permanent">IslamQA 1</a>
                </li>
                <li>
                    <a href="https://islamqa.info/en/answers/26113/how-to-calculate-zakah-on-salary">IslamQA 2</a>
                </li>
            </ul>
        </p>
    </div>  

{% endblock %}