{% extends 'layout.html' %}

{% block title %}User Guide{% endblock %}

{% block content %}

<h1 class="text-center">
    how it works
    </h1>
    <div class="fs-4 mt-3">
        <p>
            Any income that you add will be recorded in a table and tracked until one Hijri year has passed. After that, 
            the corresponding zakat amount will be added to the 'Zakat Due' table, which you can check at any time. The 
            expectation is that zakat for that amount will be paid, but if it is not paid on time, it will remain in the Zakat 
            Due table until you indicate that it has been paid. Assuming the zakat for a given year is paid, the remaining savings 
            will be used to calculate the new zakat amount for the following year, and so on.
        </p>
        <p>
            If you ensure that your expenses are entered accurately, we will deduct them in reverse chronological order 
            starting from the most recent income and working backwards through previous incomes.
        </p>
    </div>

{% endblock %}