{% extends 'layout.html' %}

{% block title %}Zakat Due{% endblock %}

{% block content %}





<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="paid_zakat-tab" data-bs-toggle="tab" data-bs-target="#paid_zakat-tab-pane" type="button" role="tab" aria-controls="paid_zakat-tab-pane" aria-selected="true">Paid Zakat</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="all_income-tab" data-bs-toggle="tab" data-bs-target="#all_income-tab-pane" type="button" role="tab" aria-controls="all_income-tab-pane" aria-selected="false">All Income</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="all_expenses-tab" data-bs-toggle="tab" data-bs-target="#all_expenses-tab-pane" type="button" role="tab" aria-controls="all_expenses-tab-pane" aria-selected="false">All Expenses</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="#paid_zakat-tab-pane" role="tabpanel" aria-labelledby="-tab" tabindex="0">

    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered mt-3">
        <h1 class="mt-3 text-center"> Paid Zakat </h1>
        <thead class="table-dark text-center">
            <th>Date of income</th>
            <th>Amount</th>
            <th>Date Due</th>
            <th>Paid Amount</th>
        </thead>
        <tbody class="table-info">
            {% for entry in paid %}
            <tr>
                <td>{{ entry.date.date() }}</td>
                <td>{{ entry.amount | usd}}</td>
                <td>{{ entry.due_date.date() }}</td>
                <td>{{ entry.due_amount | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-bordered mt-3">
        <h1 class="mt-3 text-center"> All Income Entries</h1>
        <thead class="table-dark text-center">
            <th>Number</th>
            <th>Date added</th>
            <th>Amount</th>
            <th>Date Due</th>
            <th>Due Amount</th>
            <th>Modify</th>
        </thead>
        <tbody class="table-info">
            {% for income in incomes %}
            {% if income.paid == False %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ income.date.date() }}</td>
                <td>{{ income.amount | usd}}</td>
                <td>{{ income.due_date.date() }}</td>
                <td>{{ income.due_amount | usd}}</td>    
                <td>
                    <div class="row">
                        <div class="col-auto">
                            <form action="/modify" method="post">
                                <input type="hidden" name="income_id" class="hidden-field" value='{{ income.id }}'>
                                <button type="submit" class="btn btn-info">Modify</button>
                            </form>
                        </div>
                        <div class="col-auto">
                            <form action="/delete_entry", method="post">
                                <input type="hidden" name="income_id" class="hidden-field" value='{{ income.id }}'>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr> 
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-bordered mt-3">
        <h1 class="mt-3 text-center"> Expenses </h1>
            <thead class="table-dark text-center">
                <th>Number</th>
                <th>Date added</th>
                <th>Amount</th>
            </thead>
            <tbody class="table-info">
                {% for expense in expenses %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.amount | usd}}</td>
                </tr> 
                {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}