{% extends 'layout.html' %}

{% block title %}Zakat Due{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>

<p class="fs-2">
    Paid zakat table
</p>

<p class="fs-2">
    Expenses table and maybe all incomes table
</p>

<p>
    use a sidebar here.
</p>

{% endblock %}