{% extends 'layout.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}

<h1 class="text-center">
    Welcome to RATIB! 
</h1>
<div class="fs-4">
    <p class="pt-3">
        RATIB is a Zakat Calculator / Tracker for monthly or other periodic salaries.
    </p>
    <p>
        Zakat is an obligatory form of charity in Islam,  It is one of the Five Pillars of Islam and is seen as a way of purifying oneself and one's wealth and promoting social justice and equity.
        which involves giving a fixed percentage - 2.5% or 1/40 - of one's wealth and assets to help 
        those in need.
        The obligation of Zakat applies on every Muslim whose yearly savings exceed a specified threshold called the Nisab. The year in this case is the lunar year,
        calculated according to the Islamic hijri calendar.
    </p>
    <p>
        Muslims should take inventory of their possessions and wealth. Once they reach nisab or the threshold, 
        which is the value of 87.48 grams of gold or 612.36 grams of silver, they must pay zakat. The total amount 
        to be paid is 2.5% or 1/40 of their total savings and wealth. Muslims can use any number of zakat calculators 
        which are available online to determine their obligations.
    </p>
    <p>
        As for calculating zakat for monthly salary, most scholars recommend calculating it at the end of one lunar year
        for ease of calculations. However, there is a more accurate method for calculating the exact amount, as mentioned
        in the <a href="/guide">fatwa</a> by Shaykh Ibn Baz.
    </p>
    <p>
        RATIB is designed to make this calculation of zakat on monthly salary easier for its users. Check out our 
        <a href="/guide">user guide</a> for more information on how RATIB works.
    </p>
</div>


{% endblock %}