{% extends 'layout.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}

<h1 class="text-center">
    Welcome to RATIB! 
</h1>
<div class="fs-4">
    <p class="pt-3">
        RATIB is a Zakat Calculator / Tracker for monthly salaries, rents or other periodic income.
    </p>
    <p>
        Zakat is the third pillar of Islam and is an obligation for wealthier Muslims whose wealth has reached a minimum “threshold amount” and
        has been in their possession for one lunar year. Each year, they must pay 2.5% of their accumulated gold, silver and savings to those less fortunate 
        in the community. In this way, they purify their wealth. Zakāh means to “purify” or “cleanse” one's halāl (permissible) earnings. Illegal earnings 
        are not accepted by Allah because the Prophet (peace and blessings be upon him) said: “Allāh is pure and good and loves only that which is pure and good.”
    </p>
    <p>
        Zakāt is payable when a person's (male or female) wealth has reached or exceeded a specified amount (called a nisāb) that is mentioned in the Shariah. 
        The nisab is calculated as follows: 
    </p>
    <p>
        <ul>
            <li>for gold, it is 85 grams; (some scholars say 92 grams)</li>
            <li>for silver, it is 595 grams; (some scholars say 640 grams)</li>
            <li>for paper money, it is the value of 595 grams of silver</li>
        </ul>
    </p>
    <p>
        The specific wealth upon which the Zakāt is payable are of four categories:
    </p>
    <p>
        <ul>
            <li>That which comes out of the ground from crops and fruit.</li>
            <li>Grazing livestock animals.</li>
            <li>Gold, silver and cash.</li>
            <li>Products sold as merchandise.</li>
        </ul>
    </p>
    <p>
        As for calculating zakat for monthly salaries or monthly rents, most scholars recommend calculating it at the end of one lunar year, provided the balance has 
        not decreased to less than the minimum amount of nisāb (equivalent to 595 grams of silver) over the course of a year. However, there is a more accurate method 
        for calculating the exact amount, as mentioned in the <a href="/guide#fatwa">fatwa</a> by Shaykh Ibn Baz, former Grand Mufti of Saudi Arabia.
    </p>
    <p>
        RATIB is designed to help users easily and accurately calculate and keep track of zakat payments on their monthly income. Check out our <a href="/guide">user guide</a>
        for details.
    </p>
</div>


{% endblock %}