<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

  <!-- My CSS -->
  <!-- <link rel="stylesheet" href="/static/lux.css"> -->

  <link rel="stylesheet" href="/static/style.css">

  <title>Ratib - {% block title %}{% endblock %}</title>

  {% endblock %}
</head>

<body>
  <nav class="navbar">
    <div>
      <a href="/">Ratib</a>
      <button type="button" data-toggle="collapse" data-target="#navbarNav">
        <span></span>
      </button>
      <div id="navbarNav">
        {% if session["user_id"] %}
        <ul>
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li>
            <a href="/nisab">Set Nisab</a>
          </li>
          <li>
          </li>
          <li>
            <a href="/history">History</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown">
              <img src="/static/user.jpg" alt="Bootstrap" height="27" width="27">
            </a>
            <ul>
              <li><a href="/guide">About</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><hr></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
        </ul>
        {% else %}
        <ul>
          <li>
            <a href="/guide">About</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="/login">Login/Register</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}


  <div id="content">
    <main>
      <div>
        {% block content %}{% endblock %}
      </div>
    </main>
  </div>
  
  <!-- JQuery -->
  <script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>

  <!-- My Javascript file -->
  <script src="/static/main.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  
</body>

</html>