{% extends 'layout.html' %}

{% block title %}History{% endblock %}

{% block content %}

<h1 class="mb-4"> Set Nisab </h1>
<p>
    Please input the nisab threshold amount in the form below. This will be considered as your nisab for 
    zakat calculation purposes. You can add your expenses in a separate section of the website. Once your 
    total amount reaches the nisab threshold, zakat calculation will commence.
</p>
<form class="" action="/nisab" method="post">
    <div class="row">
        <div class="form-group col-auto">
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input autocomplete="off" class="form-control mx-auto" type="number" name="nisab" id="money" placeholder="Enter amount"> 
                <button class="btn btn-dark" type="submit" name="action" value="income">Set Nisab</button>
            </div>
        </div>
    </div>
</form>
<p>
    Current nisab = {{ nisab | usd}}
</p>

{% endblock %}