{% extends 'layout.html' %}

{% block title %}History{% endblock %}

{% block content %}


<h1 class="mb-3">Change Password</h1>
<div class="col-md-6">
    <form action="/change_password", method="post">
        <div class="mb-3">
            <label class="form-label">Old Password</label>
            <input type="password" class="form-control" name="old_password">
        </div>
        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input type="password" class="form-control" name="new_password">
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" name="confirmation">
        </div>
        <button type="submit" class="btn btn-dark mt-2 mb-5">Change Password</button>
    </form>
</div>

<h1 class="mb-3 mt-5">Delete Account</h1>
<div class="col-md-6">
    <form action="/delete_account" method="post">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="delete_account_username">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="card text-bg-danger mb-3">
            <div class="card-header">Warning!</div>
            <div class="card-body">
                <h5 class="card-title">Account deletion is permanent!</h5>
                <p class="card-text">All your data will be irrecoverably lost. Proceed with caution.</p>
            </div>
        </div>
        <button type="submit" class="btn btn-dark mt-2">Delete Account</button>
    </form>
</div>

<footer class="my-5 small text-center text-muted">Logged in as '{{ username }}'</footer>
    
{% endblock %}